Flask==3.0.0
gunicorn==21.2.0
firebase-admin==6.5.0
google-cloud-firestore==2.16.0
google-genai
protobuf==4.25.3
Flask-Cors==4.0.0
fpdf2
python-docx
google-cloud-secret-manager
requests
beautifulsoup4
